<!DOCTYPE html>
<html lang="en">

<head>
    
    {% include "mylibrary/includes/head.html" %}

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">
    
    <div class="wrapper">

        {% include 'mylibrary/includes/navigation-fullscreen.html' %}

        <div class="container-fluid">

            {% block content %}{% endblock content %}

            {% include 'mylibrary/includes/footer-fullscreen.html' %}

        </div>

    </div>

    {% include 'mylibrary/includes/fixed-plugin.html' %}

    {% include 'mylibrary/includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
